:host {
    .week {
        display:flex;
        flex-direction: row;
    }

    .day {
        height: 50px;
        width: 100px;
    }
    
    .event {
        background-color: red;
        margin: 1%;
        
        &.doorlopend {
            margin-right: 0%
        }
    }
    
}