:host {
  position: relative; }
  :host #items {
    overflow: hidden;
    position: relative;
    height: 75%;
    width: 100%; }
    :host #items[move-direction="forward"] .item {
      left: 100%; }
      :host #items[move-direction="forward"] .item.active.move {
        left: -100%; }
    :host #items[move-direction="back"] .item {
      left: -100%; }
      :host #items[move-direction="back"] .item.active.move {
        left: 100%; }
    :host #items .item {
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 0s; }
      :host #items .item.active {
        left: 0; }
      :host #items .item.active.move {
        transition: all 0.8s; }
      :host #items .item.next.move {
        left: 0;
        transition: all 0.8s; }
  :host #previews {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 10%;
    transition: all 0s; }
    :host #previews .preview {
      height: 100%;
      width: 30%;
      border: 2px solid white;
      margin: 2px;
      transition: all 0.8s;
      cursor: pointer;
      bottom: 0; }
      :host #previews .preview.active {
        left: 0; }
      :host #previews .preview.active.move {
        transition: all 0.8s; }
      :host #previews .preview.next.move {
        left: 0;
        transition: all 0.8s; }
  :host #indicators {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0s; }
    :host #indicators .indicator {
      height: 10px;
      width: 10px;
      border: 2px solid white;
      margin: 2px;
      transition: all 0.8s;
      cursor: pointer; }
      :host #indicators .indicator.active {
        background-color: white; }
  :host .mover {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    height: 60px;
    width: 20px;
    margin: auto 0;
    background-color: none;
    top: 0;
    bottom: 0;
    cursor: pointer; }
    :host .mover:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    :host .mover#back {
      left: 0; }
    :host .mover#forward {
      right: 0; }
    :host .mover svg {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      min-height: 0;
      min-width: 0;
      -ms-align-self: center;
      -webkit-align-self: center;
      align-self: center;
      fill: white; }
  :host[in-transition] #indicators .indicator {
    opacity: 0.5;
    cursor: default; }
  :host[in-transition] .mover {
    opacity: 0.5;
    cursor: default; }
  :host[is-phone] .mover, :host [is-tablet] .mover {
    width: 40px; }

