:host {
    * {
        font-size: 20px;
    }

    .card-container {
        height: 100%;
        padding-left: 2%;
    }

    .test {
        border: 1px solid #ff0000;
    }



    .widthFix {
        width: 900px;
    }

    vi-checkbox {
        margin-left: 4%;
    }

    .patternCheck {
        width: 200px;
    }

    h2 {
        background-color: var(--theme-color-darker);
        color: var(--theme-color-lighter);
        margin-left: 2%;
        margin-right: 2%;
        padding: 2%;
    }

    p {
        margin-left: 2%;
        padding-left: 2%;
        font-size: 20px;
    }

    .checkBoxes {
        margin-left: 2%;
        padding-left: 1%;
    }

    .checkBoxes paper-checkbox {
        padding-top: 1%;
        width: 150px;
    }

    .checkBoxFix {
        margin-left: 4%;
        width: 2%;
    }

    .labelFix {
        display: flex;
        height: 50px;
        align-items: center;
        label {
            margin-left: .5%;
        }
    }
}
