:host * {
  font-size: 20px; }

:host .card-container {
  height: 100%;
  padding-left: 2%; }

:host .test {
  border: 1px solid #ff0000; }

:host .widthFix {
  width: 900px; }

:host vi-checkbox {
  margin-left: 4%; }

:host .patternCheck {
  width: 200px; }

:host h2 {
  background-color: var(--theme-color-darker);
  color: var(--theme-color-lighter);
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%; }

:host p {
  margin-left: 2%;
  padding-left: 2%;
  font-size: 20px; }

:host .checkBoxes {
  margin-left: 2%;
  padding-left: 1%; }

:host .checkBoxes paper-checkbox {
  padding-top: 1%;
  width: 150px; }

:host .checkBoxFix {
  margin-left: 4%;
  width: 2%; }

:host .labelFix {
  display: flex;
  height: 50px;
  align-items: center; }
  :host .labelFix label {
    margin-left: .5%; }

:host .warning {
  color: var(--theme-color-error); }

