:host {
    .card-container {
        height: 100%;
        padding-left: 2%;
       
    }
    .test {
        border: 1px solid #ff0000;
    }

    .submitButton {
        width: 20%;
        align-self: flex-end;
        background-color: #4682B4;
        color: #f1f1f1;
        padding: 5px 0px;
        margin-right: 2%;
        margin-top: 2%;
    }

    
    .widthFix {
       width: 900px;
    }

    paper-radio-button {
        padding: 0;
        
    }

    .bumpRight {
        padding-left: 3%;
    }

    .bumpRightExtra {
        margin-left: 15%;
        width: 150%;
    }

    .patternCheck {
        width: 100px;
    }

    h2 {
        background-color: #48555e;
        color: #f1f1f1;
        margin-left: 2%;
        margin-right: 2%;
        padding: 2%;
    }

    p {
        margin-left: 2%;
        padding-left: 2%;
        font-size: 14px;
    }

    .checkBoxes {
        
        margin-left: 2%;
        padding-left: 1%;
    }

    .checkBoxes paper-checkbox {
        padding-top: 1%; 
        width: 150px;
    }
    .hidden {
        visibility: hidden;
    }
    
}
